/* Error: $hue: 183.708 is not a number.
 *    ,
 * 58 |       $shadow: #{$screen-x}vw #{$screen-y}vh 0 #{$size}px hsla(#{$hue}, #{$saturation}%, #{$lightness}%, #{$opacity});
 *    |                                                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   starfield.scss 58:59  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $hue: 183.708 is not a number.\a    \2577 \a 58 \2502        $shadow: #{$screen-x}vw #{$screen-y}vh 0 #{$size}px hsla(#{$hue}, #{$saturation}%, #{$lightness}%, #{$opacity});\a    \2502                                                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   starfield.scss 58:59  root stylesheet";
}
