/* Default light theme variables */

:root {
    --background-color: #ffffff;
    --text-color: #1a1a1a;
    --heading-color: #333333;
    --link-color: #851bc2;
    --border-color: #dddddd;
  }


  
  /* Dark q when class is applied (for manual toggle) */
  html.dark-theme {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --heading-color: #ffffff;
    --link-color: #851bc2;
    --border-color: #444444;
  }
  
  /* Dark theme based on system preference (when no class is applied) */
  @media (prefers-color-scheme: dark) {
    html:not(.light-theme) {
      --background-color: #121212;
      --text-color: #e0e0e0;
      --heading-color: #ffffff;
      --link-color: #851bc2;
      --border-color: #444444;
    }
  }

  /* Apply the theme variables */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    /*TODO: adapt script to allow this without triggering it on load
    transition: background-color 0.3s ease, color 0.3s ease;
    */
}


/* Define default link styles */
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}