---
import Layout from "../layouts/Layout.astro";
const title = "404";
---
<Layout page_title = {title}>
  <h1>Page not found</h1>
  <img src="/Homepage/404.gif" alt="404" />
  <p>Sorry for that.</p>
  <p>I recommend you go to <a href="/Homepage/">Home</a> or use the search. </p>
  <p> Search not implemented yet. Sorry again.</p>
</Layout>
