---
import Layout from "../layouts/Layout.astro";
const page_title = "Home";
---
<Layout page_title={page_title}>
    <h1>Hi there! I am <span class="name-highlight">Paul</span></h1>
    <p> I want to build a blog here. And I know how to center a div!</p>
</Layout>

<style>
    .name-highlight {
        color: #851bc2;
    }
</style>