---
import Layout from "../layouts/Layout.astro";
const page_title = "Home";
---
<Layout page_title={page_title}>
    <h1>Hi there! I am Paul</h1>
    <p> I want to build a blog here. And I know how to center a div!</p>
</Layout>
