---
import Layout from "../layouts/Layout.astro";
const title = "Playground";
---
<Layout page_title={title}>
    <ul>
        <li> <a href="/Homepage/404">404</a> </li>
        <li> <a href="/Homepage/blog">Blog</a> </li>
    </ul>
</Layout>