---
import Layout from "../layouts/Layout.astro";
const title = "Playground";
---
<Layout page_title={title}>
    <ul>
        <li> <a href="/Homepage/404">404</a> </li>
        <li> <a href="/Homepage/blog">Blog</a> </li>
        <li>vibe coding css</li>
        <ul>
            <li><a href="/Homepage/playground/starfield.html">Moving starfield</a></li>
            <li><a href="/Homepage/playground/crawl_text">Star Wars Crawl text</a></li>
        </ul>
    </ul>
</Layout>