---
import Layout from "../layouts/Layout.astro";
const title = "Playground";
---
<Layout page_title={title}>
    <ul>
        <li> <a href="/Homepage/blog">blog placeholder</a> </li>
   </ul>
</Layout>