---
import NavLink from './NavLink.astro';
// Define image URL property with default value of null
const imageUrl = null;
---
{imageUrl ? (
  <a href="/Homepage/" class="logo">
    <img 
      src={imageUrl} 
      alt="Home" 
      onerror="this.style.display='none'; this.parentNode.textContent='Home';"
    />
  </a>
) : (
  <NavLink href="/Homepage/" text="Home" class="logo" />
)}

<style>
  .logo {
    height: 2rem;
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  .logo img {
    height: 100%;
    width: auto;
  }
</style>