---
import ThemeToggle from './ThemeToggle.astro'
---
<nav>
    <a href="/Homepage/">Home</a>
    <a href="/Homepage/blog">Blog</a>
    <!---<ThemeToggle />-->
</nav>

<style>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;        
        
    }
    a {
        text-decoration: none;
        color: var(--text-color);
        /* Add hover color-change effect */
        transition: color 0.1s;

        margin: 0 1rem;
    }
    a:hover {
        color: #0070f3;
    }
</style>