---
import ThemeToggle from './ThemeToggle.astro'
import NavLink from './NavLink.astro'
---
<nav>
    <NavLink href="/Homepage/playground" text="Playground" />
    <!---<NavLink href="/Homepage/blog" text="Blog" />-->
    <!---<ThemeToggle />-->
</nav>

<style>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;        
    }
    }
</style>