---
import Navigation from "../components/Navigation.astro";
//import ThemeToggle from "../components/ThemeToggle.astro";
import Starfield from "../components/Starfield.astro";
import Logo from "../components/Logo.astro";
import "../styles/global.css";
const {page_title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Homepage/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{page_title}</title>
	</head>
	<body>
	<Starfield />
	<div class="content-wrapper">
		<header>
			<Logo />
			<Navigation />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p>© Paul. Work in progress.</p>
		</footer>
	</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
	.content-wrapper {
		padding: 0rem;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	header {
		width: 100%;
		flex-shrink: 0;
		flex-basis: 4rem;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	main {
		/*flex-grow: 1;*/
		/*max-width: 64rem;*/
		max-width: 50rem; /* for 16px font size*/
		padding-top: 4rem;
	}
	footer {
		flex-basis: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
		margin-top: 3rem;
	}
	
</style>
